.operador{
    width: 80px;
    height: 80px;
    margin:5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #FFF;
    background: rgba(244, 169, 18, 1);
    font-size: 34px;
    font-weight: 800;
}
.operador:hover{
    color:rgba(244, 169, 18, 1);
    background: rgba(255,255,255,.9);
}