.calculadora{
        background: #000;
        max-width: 600px;
        padding: 12px;
}
.calculadora .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

